In [ ]:
### PUI HW4, assignment 4 - Nick Jones (nj935)

Statistical tests on citibike data

In [178]:
# my usual imports and setups
import pylab as pl
import pandas as pd
import numpy as np

%pylab inline

import os
import json

Populating the interactive namespace from numpy and matplotlib

In [179]:
df = pd.read_csv('201706-citibike-tripdata.csv')
df['date'] = pd.to_datetime(df['starttime'])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,1397,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,26642,Subscriber,1967.0,1,2017-06-01 00:00:02
1,1103,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,25656,Subscriber,1981.0,1,2017-06-01 00:00:13
2,1810,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,40.735877,-73.982050,465,Broadway & W 41 St,40.755136,-73.986580,21023,Subscriber,1982.0,1,2017-06-01 00:00:20
3,1760,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,25718,Subscriber,1973.0,2,2017-06-01 00:00:24
4,2165,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,40.707179,-74.008873,474,5 Ave & E 29 St,40.745168,-73.986831,18691,Subscriber,1985.0,1,2017-06-01 00:00:33

In [180]:
#df is the dataframe where the content of the csv file is stored
df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

In [182]:
df.columns
df.drop('tripduration', axis=1)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,ageM,ageF
0,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,26642,Subscriber,1967.0,1,2017-06-01 00:00:02,48.0,NaN
1,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,25656,Subscriber,1981.0,1,2017-06-01 00:00:13,34.0,NaN
2,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,40.735877,-73.982050,465,Broadway & W 41 St,40.755136,-73.986580,21023,Subscriber,1982.0,1,2017-06-01 00:00:20,33.0,NaN
3,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,25718,Subscriber,1973.0,2,2017-06-01 00:00:24,NaN,42.0
4,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,40.707179,-74.008873,474,5 Ave & E 29 St,40.745168,-73.986831,18691,Subscriber,1985.0,1,2017-06-01 00:00:33,30.0,NaN
5,2017-06-01 00:00:37,2017-06-01 00:10:45,310,State St & Smith St,40.689269,-73.989129,3386,1 Pl & Clinton St,40.680959,-73.999057,20729,Subscriber,1976.0,1,2017-06-01 00:00:37,39.0,NaN
6,2017-06-01 00:00:40,2017-06-01 00:07:36,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3255,8 Ave & W 31 St,40.750585,-73.994685,27900,Subscriber,1987.0,1,2017-06-01 00:00:40,28.0,NaN
7,2017-06-01 00:01:08,2017-06-01 00:08:02,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,20813,Subscriber,1985.0,1,2017-06-01 00:01:08,30.0,NaN
8,2017-06-01 00:01:11,2017-06-01 00:08:00,433,E 13 St & Avenue A,40.729554,-73.980572,473,Rivington St & Chrystie St,40.721101,-73.991925,16478,Subscriber,1988.0,1,2017-06-01 00:01:11,27.0,NaN
9,2017-06-01 00:01:14,2017-06-01 00:24:20,309,Murray St & West St,40.714979,-74.013012,476,E 31 St & 3 Ave,40.743943,-73.979661,26763,Subscriber,1993.0,1,2017-06-01 00:01:14,22.0,NaN
10,2017-06-01 00:01:24,2017-06-01 00:05:45,223,W 13 St & 7 Ave,40.737815,-73.999947,496,E 16 St & 5 Ave,40.737262,-73.992390,17420,Subscriber,1979.0,1,2017-06-01 00:01:24,36.0,NaN
11,2017-06-01 00:01:33,2017-06-01 00:07:44,471,Grand St & Havemeyer St,40.712868,-73.956981,3086,Graham Ave & Conselyea St,40.715143,-73.944507,20934,Subscriber,1977.0,1,2017-06-01 00:01:33,38.0,NaN
12,2017-06-01 00:01:37,2017-06-01 00:12:51,504,1 Ave & E 16 St,40.732219,-73.981656,361,Allen St & Hester St,40.716059,-73.991908,25914,Subscriber,NaN,0,2017-06-01 00:01:37,NaN,NaN
13,2017-06-01 00:01:48,2017-06-01 00:07:40,3166,Riverside Dr & W 72 St,40.780578,-73.985624,3172,W 74 St & Columbus Ave,40.778567,-73.977550,29736,Subscriber,1960.0,1,2017-06-01 00:01:48,55.0,NaN
14,2017-06-01 00:01:58,2017-06-01 00:14:50,415,Pearl St & Hanover Square,40.704718,-74.009260,350,Clinton St & Grand St,40.715595,-73.987030,21479,Subscriber,1983.0,1,2017-06-01 00:01:58,32.0,NaN
15,2017-06-01 00:01:57,2017-06-01 00:13:06,3392,Commerce St & Van Brunt St,40.681212,-74.008609,3382,Carroll St & Smith St,40.680611,-73.994758,26093,Subscriber,1972.0,1,2017-06-01 00:01:57,43.0,NaN
16,2017-06-01 00:01:59,2017-06-01 00:29:04,3392,Commerce St & Van Brunt St,40.681212,-74.008609,245,Myrtle Ave & St Edwards St,40.693270,-73.977039,29346,Subscriber,1971.0,1,2017-06-01 00:01:59,44.0,NaN
17,2017-06-01 00:02:04,2017-06-01 00:09:44,3223,E 55 St & 3 Ave,40.758997,-73.968654,518,E 39 St & 2 Ave,40.747804,-73.973442,28176,Subscriber,1984.0,1,2017-06-01 00:02:04,31.0,NaN
18,2017-06-01 00:02:11,2017-06-01 00:16:26,388,W 26 St & 10 Ave,40.749718,-74.002950,504,1 Ave & E 16 St,40.732219,-73.981656,29018,Subscriber,1972.0,1,2017-06-01 00:02:11,43.0,NaN
19,2017-06-01 00:02:10,2017-06-01 00:15:51,3143,5 Ave & E 78 St,40.776321,-73.964274,422,W 59 St & 10 Ave,40.770513,-73.988038,16394,Subscriber,1985.0,1,2017-06-01 00:02:10,30.0,NaN
20,2017-06-01 00:02:15,2017-06-01 00:21:01,450,W 49 St & 8 Ave,40.762272,-73.987882,496,E 16 St & 5 Ave,40.737262,-73.992390,28445,Subscriber,1998.0,1,2017-06-01 00:02:15,17.0,NaN
21,2017-06-01 00:02:28,2017-06-01 00:13:44,285,Broadway & E 14 St,40.734546,-73.990741,435,W 21 St & 6 Ave,40.741740,-73.994156,28810,Subscriber,1970.0,1,2017-06-01 00:02:28,45.0,NaN
22,2017-06-01 00:02:29,2017-06-01 00:10:03,3155,Lexington Ave & E 63 St,40.764400,-73.966490,441,E 52 St & 2 Ave,40.756014,-73.967416,27081,Subscriber,1973.0,2,2017-06-01 00:02:29,NaN,42.0
23,2017-06-01 00:02:36,2017-06-01 00:08:38,387,Centre St & Chambers St,40.712733,-74.004607,426,West St & Chambers St,40.717548,-74.013221,16644,Subscriber,1989.0,1,2017-06-01 00:02:36,26.0,NaN
24,2017-06-01 00:02:55,2017-06-01 00:13:42,383,Greenwich Ave & Charles St,40.735238,-74.000271,3435,Grand St & Elizabeth St,40.718822,-73.995960,25655,Subscriber,1996.0,1,2017-06-01 00:02:55,19.0,NaN
25,2017-06-01 00:03:02,2017-06-01 00:10:32,348,W Broadway & Spring St,40.724910,-74.001547,254,W 11 St & 6 Ave,40.735324,-73.998004,16487,Subscriber,1955.0,1,2017-06-01 00:03:02,60.0,NaN
26,2017-06-01 00:03:03,2017-06-01 00:22:01,3162,W 78 St & Broadway,40.783400,-73.980931,3305,E 91 St & 2 Ave,40.781122,-73.949656,25306,Subscriber,1968.0,1,2017-06-01 00:03:03,47.0,NaN
27,2017-06-01 00:03:07,2017-06-01 00:05:51,540,Lexington Ave & E 29 St,40.743116,-73.982154,528,2 Ave & E 31 St,40.742909,-73.977061,20717,Subscriber,1962.0,1,2017-06-01 00:03:07,53.0,NaN
28,2017-06-01 00:03:10,2017-06-01 00:09:18,297,E 15 St & 3 Ave,40.734232,-73.986923,491,E 24 St & Park Ave S,40.740964,-73.986022,27725,Subscriber,1985.0,2,2017-06-01 00:03:10,NaN,30.0
29,2017-06-01 00:03:10,2017-06-01 00:13:48,540,Lexington Ave & E 29 St,40.743116,-73.982154,312,Allen St & Stanton St,40.722055,-73.989111,28264,Subscriber,1989.0,1,2017-06-01 00:03:10,26.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731564,2017-06-30 23:58:08,2017-07-01 00:07:31,525,W 34 St & 11 Ave,40.755942,-74.002116,168,W 18 St & 6 Ave,40.739713,-73.994564,15057,Subscriber,1993.0,1,2017-06-30 23:58:08,22.0,NaN
1731565,2017-06-30 23:58:12,2017-07-01 00:05:51,3082,Hope St & Union Ave,40.711674,-73.951413,389,Broadway & Berry St,40.710446,-73.965251,25081,Subscriber,1986.0,2,2017-06-30 23:58:12,NaN,29.0
1731566,2017-06-30 23:58:13,2017-07-01 00:08:27,439,E 4 St & 2 Ave,40.726281,-73.989780,476,E 31 St & 3 Ave,40.743943,-73.979661,28170,Subscriber,1992.0,1,2017-06-30 23:58:13,23.0,NaN
1731567,2017-06-30 23:58:17,2017-07-01 00:09:56,3381,3 St & Hoyt St,40.677729,-73.993641,3361,Carroll St & 6 Ave,40.674089,-73.978728,14640,Subscriber,NaN,0,2017-06-30 23:58:17,NaN,NaN
1731568,2017-06-30 23:58:17,2017-07-04 22:50:50,3108,Nassau Ave & Russell St,40.725570,-73.944340,3016,Kent Ave & N 7 St,40.720368,-73.961651,28217,Subscriber,1984.0,1,2017-06-30 23:58:17,31.0,NaN
1731569,2017-06-30 23:58:19,2017-07-01 00:31:34,157,Henry St & Atlantic Ave,40.690893,-73.996123,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,26915,Subscriber,1986.0,1,2017-06-30 23:58:19,29.0,NaN
1731570,2017-06-30 23:58:18,2017-07-01 00:13:42,405,Washington St & Gansevoort St,40.739323,-74.008119,514,12 Ave & W 40 St,40.760875,-74.002777,18345,Subscriber,1966.0,1,2017-06-30 23:58:18,49.0,NaN
1731571,2017-06-30 23:58:18,2017-07-01 00:13:45,405,Washington St & Gansevoort St,40.739323,-74.008119,514,12 Ave & W 40 St,40.760875,-74.002777,28878,Subscriber,1972.0,2,2017-06-30 23:58:18,NaN,43.0
1731572,2017-06-30 23:58:28,2017-07-01 00:00:09,546,E 30 St & Park Ave S,40.744449,-73.983035,476,E 31 St & 3 Ave,40.743943,-73.979661,18426,Subscriber,1975.0,1,2017-06-30 23:58:28,40.0,NaN
1731573,2017-06-30 23:58:35,2017-07-01 00:07:33,3407,Union St & Nevins St,40.679098,-73.987655,3405,5 St & 6 Ave,40.670484,-73.982090,18995,Subscriber,1987.0,2,2017-06-30 23:58:35,NaN,28.0
1731574,2017-06-30 23:58:37,2017-07-01 00:08:03,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,2021,W 45 St & 8 Ave,40.759291,-73.988597,28922,Subscriber,1986.0,1,2017-06-30 23:58:37,29.0,NaN
1731575,2017-06-30 23:58:40,2017-07-01 00:08:57,3055,Greene Ave & Nostrand Ave,40.688334,-73.950916,3042,Fulton St & Utica Ave,40.679427,-73.929891,25611,Subscriber,1999.0,1,2017-06-30 23:58:40,16.0,NaN
1731576,2017-06-30 23:58:50,2017-07-01 00:12:19,3255,8 Ave & W 31 St,40.750585,-73.994685,383,Greenwich Ave & Charles St,40.735238,-74.000271,29100,Subscriber,1975.0,2,2017-06-30 23:58:50,NaN,40.0
1731577,2017-06-30 23:58:51,2017-07-01 00:07:23,151,Cleveland Pl & Spring St,40.722104,-73.997249,151,Cleveland Pl & Spring St,40.722104,-73.997249,20922,Subscriber,1978.0,2,2017-06-30 23:58:51,NaN,37.0
1731578,2017-06-30 23:58:53,2017-07-01 00:01:50,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,399,Lafayette Ave & St James Pl,40.688515,-73.964763,28182,Subscriber,1990.0,1,2017-06-30 23:58:53,25.0,NaN
1731579,2017-06-30 23:58:55,2017-07-01 00:15:11,285,Broadway & E 14 St,40.734546,-73.990741,411,E 6 St & Avenue D,40.722281,-73.976687,24833,Subscriber,1991.0,1,2017-06-30 23:58:55,24.0,NaN
1731580,2017-06-30 23:58:56,2017-07-01 00:02:21,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,24986,Subscriber,1988.0,2,2017-06-30 23:58:56,NaN,27.0
1731581,2017-06-30 23:58:59,2017-07-01 00:08:55,3055,Greene Ave & Nostrand Ave,40.688334,-73.950916,3042,Fulton St & Utica Ave,40.679427,-73.929891,18475,Subscriber,1968.0,2,2017-06-30 23:58:59,NaN,47.0
1731582,2017-06-30 23:59:07,2017-07-01 00:08:33,3158,W 63 St & Broadway,40.771639,-73.982614,490,8 Ave & W 33 St,40.751551,-73.993934,26528,Subscriber,1981.0,1,2017-06-30 23:59:07,34.0,NaN
1731583,2017-06-30 23:59:07,2017-07-01 00:03:11,3315,Henry St & Degraw St,40.684751,-73.999173,3329,Degraw St & Smith St,40.682915,-73.993182,28584,Subscriber,1988.0,2,2017-06-30 23:59:07,NaN,27.0
1731584,2017-06-30 23:59:15,2017-07-01 00:14:22,2021,W 45 St & 8 Ave,40.759291,-73.988597,3258,W 27 St & 10 Ave,40.750182,-74.002184,15442,Customer,1983.0,1,2017-06-30 23:59:15,NaN,NaN
1731585,2017-06-30 23:59:23,2017-07-01 00:14:12,417,Barclay St & Church St,40.712912,-74.010202,363,West Thames St,40.708347,-74.017134,17882,Subscriber,1979.0,2,2017-06-30 23:59:23,NaN,36.0
1731586,2017-06-30 23:59:24,2017-07-01 00:04:58,3042,Fulton St & Utica Ave,40.679427,-73.929891,3052,Lewis Ave & Madison St,40.686312,-73.935775,25573,Subscriber,1979.0,1,2017-06-30 23:59:24,36.0,NaN
1731587,2017-06-30 23:59:26,2017-07-01 00:04:56,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3091,Frost St & Meeker St,40.717640,-73.948820,26720,Subscriber,1991.0,2,2017-06-30 23:59:26,NaN,24.0
1731588,2017-06-30 23:59:28,2017-07-01 00:10:50,326,E 11 St & 1 Ave,40.729538,-73.984267,509,9 Ave & W 22 St,40.745497,-74.001971,19548,Subscriber,1978.0,1,2017-06-30 23:59:28,37.0,NaN
1731589,2017-06-30 23:59:30,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,28065,Subscriber,1986.0,2,2017-06-30 23:59:30,NaN,29.0
1731590,2017-06-30 23:59:40,2017-07-01 00:19:12,195,Liberty St & Broadway,40.709056,-74.010434,438,St Marks Pl & 1 Ave,40.727791,-73.985649,25079,Subscriber,1986.0,1,2017-06-30 23:59:40,29.0,NaN
1731591,2017-06-30 23:59:47,2017-07-01 00:20:59,477,W 41 St & 8 Ave,40.756405,-73.990026,3314,W 95 St & Broadway,40.793770,-73.971888,25606,Subscriber,1982.0,1,2017-06-30 23:59:47,33.0,NaN
1731592,2017-06-30 23:59:45,2017-07-01 00:15:03,328,Watts St & Greenwich St,40.724055,-74.009660,146,Hudson St & Reade St,40.716250,-74.009106,19739,Subscriber,1998.0,1,2017-06-30 23:59:45,17.0,NaN
1731593,2017-06-30 23:59:53,2017-07-01 00:23:12,3244,University Pl & E 8 St,40.731437,-73.994903,3002,South End Ave & Liberty St,40.711512,-74.015756,15694,Subscriber,1987.0,2,2017-06-30 23:59:53,NaN,28.0

## Compare day and night trip durations using KS test

First define a function to check whether each trip originated in the daytime (defined 6am - 6.59pm) or nighttime. I use Boolean indexing for this. Apply it to the dataframe to create a new column 'day' (True or False).

In [183]:
df=df[['tripduration','date','birth year','start station longitude']]
df['hour']=df.date.dt.hour

#df['hour']=df.date.hour()
daytime=[6,7,8,9,10,11,12,13,14,15,16,17,18]

def check_day(x):
    if x in daytime:
        return True
    else:
        return False

df['day']=df['hour'].apply(check_day)

### Create separate dfs
New df for journeys starting in day time, new df for journeys starting in night time. Then an array for tripduration in day and in night.

In [184]:
df.head(4)
df_day = df[df.day == True]
df_night = df[df.day == False]

In [185]:
df_night.head(4)

,tripduration,date,birth year,start station longitude,hour,day
0,1397,2017-06-01 00:00:02,1967.0,-73.994618,0,False
1,1103,2017-06-01 00:00:13,1981.0,-73.993722,0,False
2,1810,2017-06-01 00:00:20,1982.0,-73.982050,0,False
3,1760,2017-06-01 00:00:24,1973.0,-73.996826,0,False

In [193]:
# val_day is NP array of the trip duration for daytimes

[ 149  868 1004  830]

In [187]:
val_day = df_day['tripduration'].values
val_night = df_night['tripduration'].values

### Hypothesis testing:
We expect that trips in day and night will have significantly different durations. To investigate this, we use a KS test of proportions. This will allow us to test whether the two samples are from the same population or not.

#### Null hypothesis:
H0: trip durations in day or night *are* from the same distribution, p=0.05.

Test statistic is a one-sided KS test.

#### Decision rule:
Reject H0 if test statistic < p (0.05)

In [207]:
scipy.stats.ks_2samp(val_day, val_night)

Ks_2sampResult(statistic=0.01505157847425112, pvalue=4.3536536338204794e-59)

####Results and interpretation: 
4.254 > 0.05 therefore we fail to reject the null hypothesis. 

Result: We fail to reject the null hypothesis. This suggests that day and night journeys are of significantly different durations, based on the KS test using our sample size.

### Run the KS test with a sample size 200 times smaller

In [212]:
#get sample of day and night trip durations, reduced sample size by 200 times

small_valday = np.random.choice(val_day,((np.size(val_day))/200))
small_valnight = np.random.choice(val_night,((np.size(val_night))/200))

small_valday

array([1081,  336, 1003, ..., 1455, 1135,  157])

In [222]:
small_valday1 = np.random.choice(val_day,size = 80000, replace = False).sort()
small_valnight1 = np.random.choice(val_night, size = 80000, replace = False).sort()

In [220]:
type(small_valday1)

builtin_function_or_method

TypeError: len() of unsized object

#### Null hypothesis:
H0: trip durations in day or night are from the same distribution, p=0.05.

Test statistic is a one-sided KS test.

#### Decision rule:
We reject H0 if test statistic < p (0.05)

#### Conclusion:
0.0063 < 0.05 therefore we reject the null hypothesis. This suggests that the day and nighttime trips are of different lengths.

In [ ]:
scipy.stats.pearsonr(small_valday1, small_valnight1)

In [ ]:
scipy.stats.spearmanr(small_valday1, small_valnight1)

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

geolocator.reverse ().raw

In [ ]:
bins = np.arange(10, 99, 5)
axM = df.ageM.groupby(pd.cut(df.ageM, bins)).agg([count_nonzero]).plot(kind='bar', 
                                                                legend=False)
axM.set_title("male riders")
axF = df.ageF.groupby(pd.cut(df.ageF, bins)).agg([count_nonzero]).plot(kind='bar',
                                                                legend=False)
axF.set_title("female riders");