In [21]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline

os.getenv('PUI2017')
os.getenv('PUIDATA')

# $PUIDATA="/home/cusp/nj935/PUI2017"

#if os.getenv ('PUI2017') is None:
#    print ("Must set env variable PUI2016")
if os.getenv ('PUIDATA') is None:
    print ("Must set env variable PUI2016")

Populating the interactive namespace from numpy and matplotlib

In [87]:
df = pd.read_csv("PUI2017/201706-citibike-tripdata.csv")

## Idea
Men make longer rides than women do.

## Null hypothesis
Mean ride length for men is equal to or smaller than mean ride length for women.

## Alternative hypothesis
Mean ride length for men is larger than mean ride length for women. 

## Significance level
p-0.05

In [88]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1397,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,26642,Subscriber,1967.0,1
1,1103,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,25656,Subscriber,1981.0,1
2,1810,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,40.735877,-73.982050,465,Broadway & W 41 St,40.755136,-73.986580,21023,Subscriber,1982.0,1
3,1760,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,25718,Subscriber,1973.0,2
4,2165,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,40.707179,-74.008873,474,5 Ave & E 29 St,40.745168,-73.986831,18691,Subscriber,1985.0,1

In [89]:
df.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

In [90]:
df.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year'], axis=1, inplace=True)

In [94]:
df.head()
#g_count=df['gender'].value_counts("1")
gender_av=df.groupby('gender').mean()

#gender_av.drop(['0'], axis=2, inplace=True)

In [104]:
gender_av

        tripduration
gender
0        1986.205084
1         929.261206
2        1026.176602

In [105]:
print("*** Citibike average trip length in June 2017 ***\n\n")
print("Male: 929.26 seconds")
print("Female: 1026.17 seconds\n")
print("Hint: I think the hypothesis may get rejected.")

*** Citibike average trip length in June 2017 ***


Male: 929.26 seconds
Female: 1026.17 seconds

Hint: I think the hypothesis may get rejected.